<div class="showContainer">
    <div class="formSection">
        <%= link_to "← 一覧に戻る", :posts, class:"linkToIndex" %>
        <div class="showTitle">
            <h2 class="showTitleText"><%= @post.title %></h2>
            <%= link_to "編集", edit_post_path(:id), class:"linkToEdit btn btn-outline-primary" %>
        </div>
        <div class="table-responsive formContainer">
            <table class="table table-bordered showTable">
                <tbody>
                    <tr>
                        <th>開始日</th>
                        <td><%= @post.start_date %></td>
                    </tr>
                    <tr>
                        <th>終了日</th>
                        <td><%= @post.end_date %></td>
                    </tr>
                    <tr>
                        <th>終日</th>
                        <td><%= @post.all_day ? '⚪︎' : '' %></td>
                    </tr>
                    <tr>
                        <th>スケジュールメモ</th>
                        <td><%= @post.memo %></td>
                    </tr>
                </tbody>    
            </table>
        </div>
    </div>
</div>